* {
  background-color: #78290f;
}

nav {
  display: flex;
  gap: 2rem;
}

.navBar {
  float: right;
  display: block;
  
}

#navBar-List {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li a {
  background-color: green;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#booksli {
  border: 5px solid #15616d;
  list-style: none;
  margin-right: 25%;
  color: rgb(217, 220, 225);
}

button {
  background-color: rgb(242, 231, 231);
}