* {
  background-color: #78290f;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
  overflow: hidden;
  background-color: green;
  width: 100%;
} */

#navBar-List {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  float: right;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  
}

li a {
  background-color: green;
  display: block;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav {
  display: flex;
  padding-top: 20px;
  gap: 2rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#booksli {
  border: 5px solid #15616d;
  list-style: none;
  margin-right: 25%;
  color: rgb(217, 220, 225);
}

button {
  background-color: rgb(242, 231, 231);
}