* {
  background-color: #78290f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#navBar-List {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  top: 0;
  left: 0;
  width: 100%;
  
}

li a {
  background-color: green;
  display: block;
  color: white;
  text-align: center;

  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

nav {
  display: flex;
  padding-top: 20px;
  gap: 2rem;
}

#booksli {
  border: 5px solid #15616d;
  list-style: none;
  margin-right: 25%;
  color: rgb(125, 164, 225);
  padding-bottom: 20px;
  
}

button {
  background-color: rgb(242, 231, 231);
}

#comments {
  color: whitesmoke;
  border: 2px solid rgb(64, 228, 214);
  background-color: rgb(71, 78, 4);
}

.header {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style fields on the page */
.description {
  color: aquamarine;
}

#search-box {
  background-color: antiquewhite;
}

.sortBy {
  background-color: antiquewhite;
}

.field {
  background-color: antiquewhite;
}

input {
  background-color: antiquewhite;
}

/* Style comments */
#bookComment {
  color: rgb(209, 201, 41);
  list-style: none;
  padding-top: 5px;
}